<html>
<head><title>Kanban Board - Select Team</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'Board/board.css' %}" />
</head>

<body>
<div style="font-size:42px; line-height:50px; font-family:Segoe UI">Select Team</div>


<div style="float:left">
	<a href="Board/0">
		<span>
			<span class="team teamblue">Team Blue
				<div style="font-size:16px">Micke, Claes, Asad, David, Karin, Kefei, Jianing</div> 
			</span>	
		</span>	
	</a>
	<a href="Board/1">
		<span>
			<span class="team teamred">Team Red
				<div style="font-size:16px">Robin, Jonas, Maria, Kunning, Ola, Wenying</div> 
			</span>	
		</span>	
	</a>
	<a href="Board/3">
		<span>
			<span class="team teamgreen">Team Green
				<div style="font-size:16px">Roger, Mathias, Tamas, Henrik, Xianwei, Erik, Youlong</div> 
			</span>	
		</span>	
	</a>
	<a href="Board/4">
		<span>
			<span class="team teamorange">Team Orange
				<div style="font-size:16px">Xinfeng, Mingdi, Chundan</div> 
			</span>	
		</span>	
	</a>
</div>


</body>
</html>
